<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content="stuff, to, help, search, engines, not" name="keywords">
<meta content="What this page is about." name="description">
<meta content="Display Webcam Stream" name="title">
<title>Display Webcam Stream</title>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
 <script src="http://cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js"></script>
<script src="http://cdn.jsdelivr.net/emojione/1.5.2/lib/js/emojione.min.js"></script>
<link rel="stylesheet" href="http://cdn.jsdelivr.net/emojione/1.5.2/assets/css/emojione.min.css" />
<script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>
	 <script src="bower_components/emojione/lib/js/emojione.js"></script>
    <link rel="import" href="bower_components/iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="bower_components/iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="bower_components/iron-flex-layout/iron-flex-layout.html">
    <link rel="import" href="bower_components/iron-pages/iron-pages.html">
    <link rel="import" href="bower_components/paper-toolbar/paper-toolbar.html">
    <link rel="import" href="bower_components/paper-tabs/paper-tab.html">
    <link rel="import" href="bower_components/paper-tabs/paper-tabs.html">

    <style is="custom-style" include="demo-pages-shared-styles">
     .emojione{font-size:inherit;height:3ex;width:3.1ex;min-height:20px;min-width:20px;display:inline-block;margin:-.2ex .15em .2ex;line-height:normal;vertical-align:middle}img.emojione{width:auto}
	 
      paper-tabs, paper-toolbar,iron-pages {
        background-color: #059c7a;
        color: #ffff2f;
      }
 #emoji-container {
        max-width: 500px;
      }
#container {
    margin: 0px auto;
    width: 500px;
    height: 375px;
}
#videoElement {
    width: 500px;
    height: 375px;
    background-color: #666;
}
</style>
<script>
  $(document).ready(function() {
        $(".convert-emoji").each(function() {
            var original = $(this).html();
            // use .shortnameToImage if only converting shortnames (for slightly better performance)
            var converted = emojione.toImage(original);
            $(this).html(converted);
        });
    });</script>
</head>
  
<body>
<div id="container">
    <video autoplay="true" id="videoElement">
     
    </video>
</div>

  <div id="emoji-container" class="vertical-section-container centered">

     
    

<template is="dom-bind">
<paper-tabs selected="{{selected}}" noink>
  <paper-tab>Health</paper-tab>
  <paper-tab>Water</paper-tab>
  <paper-tab>Fire</paper-tab>
  
</paper-tabs>
<iron-pages selected="{{selected}}">
              <div class="convert-emoji">:smile: :smile: :smile: :smile:</div>
              <div class="convert-emoji">:smile: :smile: :smile: :smile: :smile:</div>
              <div class="convert-emoji">:smile:</div>
            </iron-pages>
			</template>
    </div>
	
<script>
 var video = document.querySelector("#videoElement");
 
navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia || navigator.oGetUserMedia;
 
if (navigator.getUserMedia) {       
    navigator.getUserMedia({video: true}, handleVideo, videoError);
}
 
function handleVideo(stream) {
    video.src = window.URL.createObjectURL(stream);
}
 
function videoError(e) {
    // do something
}
</script>
</body>
</html>