<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<html>
  <head>

    <title>paper-tabs demo</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">

    <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="bower_components/iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="bower_components/iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="bower_components/iron-flex-layout/iron-flex-layout.html">
    <link rel="import" href="bower_components/iron-pages/iron-pages.html">
    <link rel="import" href="bower_components/paper-toolbar/paper-toolbar.html">
    <link rel="import" href="bower_components/paper-tabs/paper-tab.html">
    <link rel="import" href="bower_components/paper-tabs/paper-tabs.html">

    <style is="custom-style" include="demo-pages-shared-styles">
      #container {
        max-width: 600px;
      }
      paper-tabs, paper-toolbar {
        background-color: var(--paper-blue-900);
        color: #fff;
      }
    </style>

  </head>
  <body unresolved>

    <div id="container" class="vertical-section-container centered">

         <!--
      Nested templates are not supported in IE, meaning they can't be used in a
      demo-snippet. See Polymer/polymer#2495 for more details.
      -->
   
     
      <h3>K. Controlling content</h3>
      <demo-snippet>
        <template>
          <style is="custom-style">
            iron-pages {
              border: 1px solid #ccc;
              border-top: none;
              padding: 8px;
            }
          </style>
          <template is="dom-bind">
            <paper-tabs selected="{{selected}}">
              <paper-tab>ITEM ONE</paper-tab>
              <paper-tab>ITEM TWO</paper-tab>
              <paper-tab>ITEM THREE</paper-tab>
            </paper-tabs>
            <iron-pages selected="{{selected}}">
              <div>CONTENT ONE</div>
              <div>CONTENT TWO</div>
              <div>CONTENT THREE</div>
            </iron-pages>
          </template>
        </template>
      </demo-snippet>
    

    </div>

  </body>
</html>